* {
  margin: 0;
  padding: 0;
}

.container {
 background-color: purple;
 margin: 10px auto;
 }

 .header{
  width: auto;
  margin: 10 15;
  background-color: red;
 }

 .nav-bar * {
   display: inline-block;
   width: auto;
   background-color: green;
 }

 .main-content {
   display: inline-block;
 }
