* {
  margin: 10px;
  padding: 10px;
}

.container {
 background-color: purple;
 padding: 10px;
 }

 .container * {
   border-radius: 25px;
   padding: 5px;
 }

 .header{
  width: auto;
  margin-top: 10px;
  background-color: red;
 }

 .nav-bar  {
   display: inline-block;
   width: 200px;
   background-color: green;
   margin-left: 10px;
   padding-left: 20px;
   vertical-align: top;
 }

 .main-content {
   display: inline-block;
   width: 700px;
   background-color: blue;
   margin-left: 10px;

 }

 .footer {
   background-color: green;
 }

 span {
   color: purple;
 }
